// @font-face {
// 	font-family: 'GTWalsheimBold';
// 	src: 
// 		url('../fonts/GT_Walsheim/GTWalsheim-Bold.otf')  format('opentype'),
// 		url('../fonts/GT_Walsheim/GTWalsheim-Bold.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'GT-Walsheim-Medium';
// 	src: 
// 		url('../fonts/GT_Walsheim/GTWalsheim-Medium.otf')  format('opentype'),
// 		url('../fonts/GT_Walsheim/GTWalsheim-Medium.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'GT-Walsheim-Regular';
// 	src: 
// 		url('../fonts/GT_Walsheim/GTWalsheim-Regular.otf')  format('opentype'),
// 		url('../fonts/GT_Walsheim/GTWalsheim-Regular.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// }


@font-face {
	font-family: 'FuturaPTLight';
	src: 
		url('../fonts/FuturaPTLight.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaPTMedium';
	src: 
		url('../fonts/FuturaPTMedium.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaPTHeavy';
	src: 
		url('../fonts/FuturaPTHeavy.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaPTBold';
	src: 
		url('../fonts/FuturaPTBold.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaPTExtraBold';
	src: 
		url('../fonts/FuturaPTExtraBold.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}
// @font-face {
// 	font-family: 'FuturaPTBook';
// 	src: 
// 		url('../fonts/FuturaPTExtraBold.otf')  format('opentype');
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'FuturaPTMediumOblique';
// 	src: 
// 		url('../fonts/FuturaPTMediumOblique.otf')  format('opentype');
// 	font-weight: normal;
// 	font-style: normal;
// }
