$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1300px,
  xxls: 1400px
) !default;
$container-max-widths: (  sm: 540px,  md: 720px,  lg: 960px,  xl: 1140px, xxl: 1200px, xxls: 1275px);
$grid-gutter-widths: (xs: 20px, sm: 30px);
// rewritedep:scss
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
// endrewritedep
// Automatically injected Bower dependencies via wiredep (never manually edit this block)