@import "_inc/_fonts.scss";
@import "_inc/_variables.scss";
@import "npmdep.scss";

.gradient{
	background: linear-gradient(179.77deg, #FFFFFF 1.45%, #D9F2F7 4.67%, #D9F2F7 9.97%, #00A6C6 14.17%, #005993 16.38%, #004686 18.11%, #00357B 18.92%, #001D6B 20.29%, #001466 21.13%, #00095E 23.35%, #00A5C6 28.39%, #6FCCDF 29.81%, #E6F6F9 39.47%, rgba(192, 227, 237, 0.38) 40.54%, rgba(84, 179, 205, 0.36) 42.2%, #0089B1 44.41%, #0069A2 48.23%, #0053B6 50.28%, #000D61 54.56%, #041172 58.59%, #77C1D6 59.93%, #D4ECF2 63.8%, #FFFFFF 65.54%, #D8EEF5 67.39%, #2098BB 69.92%, #005AB1 71.15%, #03106E 72.24%);
	height: 23425px;
}

.text-left {
	text-align: left !important;
}
.text-right{
	text-align: right !important;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.btn{
	border: 1px solid #000B5F;
	border-radius: 100px;
	padding: 10px;
	width: 117.72px;
	&:hover{
		background-color: $hover_btn;
	}
}
.img-fluid{
	max-width: 100%;
	height: auto;
}

.head-container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.title-wgr{
	font-size: 40px;
	background: -webkit-linear-gradient(#FFFFFF, #00AAC9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'FuturaPTHeavy';
	text-transform: uppercase;
}




@media (min-width: 1200px){
	.head-container {
		max-width: 1055px;
	}
}



.head-list{
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 34px 0;
	li{
		a{
			color: #01075C;
			font-size: 20px;
			font-family: 'FuturaPTMedium';
			line-height: 1;
		}
		&.personal-room{
			margin-right: 35px;
			position: relative;
			.mvp{
				position: absolute;
				top: -18px;
				right: -17px;
				color: #F5574B;
				border: 1px solid #F5574B;
				padding: 2px 8px;
				border-radius: 4px;
				font-size: 14px;
				text-transform: uppercase;
			}
		}
	}
	.logo{
		display: flex;
	}
	.dropdown{
		&.show{
			.dropdown-toggle{
				background-color: $active;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}
		}
		.dropdown-menu{
			background-color: $active70;
			margin: 0;
			min-width: 93px;
			border: 0;
			border-radius: 0;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			padding: 5px 0;
			.dropdown-item{
				padding: 0 10px 0;
				color: rgba(0, 10, 95, 0.7);
				&:hover, &:focus{
					color: rgba(0, 10, 95, 1);
					background-color: transparent;
				}
			}
		}
	}
	.dropdown-toggle{
		display: block;
		position: relative;
		padding: 10px 10px 7px 14px;
		font-size: 18px;
		min-width: 93px;
		&::after, &::before{
    		border: 0;
			background-color: #01075C;
			content: '';
			position: absolute;
			top: 20px;
			margin: 0;
			height: 2px;
			width: 8px;
		}
		&::after{
			right: 0px;
			transform: rotate( -45deg );
		}
		&::before{
			right: 5px;
			transform: rotate( 45deg );
		}
	}
}


.advanced-bg{
	background: url('../img/wave1.png');
	background-repeat: no-repeat;
	// background-position: 50% -164px;
	// background-size: contain;
	background-position: 50% -100px;
	background-size: cover;
	.advanced-gr{
		// padding: 30px 0 663px;
		padding: 30px 0 518px;
		background: linear-gradient(205.12deg, #FFFFFF 0.48%, rgba(255, 255, 255, 0.81) 23.23%, rgba(255, 255, 255, 0) 67.99%);
	}
	.title{
		font-size: 48px;
		color: $title;
		max-width: 610px;
		font-family: 'FuturaPTHeavy';
		text-transform: uppercase;
		line-height: 1.3;
		letter-spacing: -0.7px;
	}
	.text{
		font-size: 24px;
		font-family: 'FuturaPTMedium';
		max-width: 676px;
		line-height: 1.25;
		padding-top: 7px;
		color: $text;
	}
}

.problems-bg{
	// background: url('../img/wave2.png');
	// background-repeat: no-repeat;
	// background-position: 50% 270px;
	// background-size: cover;
	.problems-gr{
		// padding: 0 0 518px;
	}
	.title{
		font-size: 40px;

		background: -webkit-linear-gradient(#000A5F, #A42149);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		max-width: 588px;
		font-family: 'FuturaPTHeavy';
		text-transform: uppercase;
		line-height: 1.3;
		margin-bottom: 26px;
	}
	.problems-list{
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		li{
			max-width: 445px;
			// width: 50%;
			margin-right: 127px;
			padding-left: 70px;
			position: relative;
			margin-bottom: 31px;
		}
		.problems-img{
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.list-title{
		color: #A0133D;
		font-size: 24px;
		font-family: 'FuturaPTMedium';
		display: block;
	}
	.list-text{
		color: #01075C;
		font-size: 14px;
		font-family: 'FuturaPTLight';
		line-height: 1.3;
		display: block;
	}
}

.more-btn{
	color: #213D82;
	font-size: 18px;
	font-family: 'FuturaPTHeavy';
	max-width: 175px;
	display: block;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 53px 25px 50px 20px;
	background-position: center center;
	line-height: 1.2;
	&.red-bg{
		background-image: url('../img/circle.png');
	}
	&.blue-bg{
		background-image: url('../img/circle2.png');
		margin-left: auto;
		margin-right: 80px;
		margin-top: -10px;
	}
	&:hover{
		color: #213D82;
		text-decoration: none;
	}
}

.solutions{
	&-bg{
		background: url('../img/wave2.png');
		background-repeat: no-repeat;
		background-position: 50% -150px;
		background-size: cover;
		// padding: 100px 0 0;
	}
	&-content{
		padding: 194px 0 0 0;
		.title{
			font-size: 40px;

			background: -webkit-linear-gradient(#162770, #00AAC9);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			max-width: 520px;
			font-family: 'FuturaPTHeavy';
			text-transform: uppercase;
			line-height: 1.3;
			margin-bottom: 75px;
			text-align: right;
			margin-right: 0;
			margin-left: auto;
			padding-right: 90px;
		}
		.solutions-list{
			list-style-type: none;
			padding-left: 0;
			margin-bottom: 0;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			li{
				max-width: 445px;
				margin-right: 127px;
				padding-left: 70px;
				position: relative;
				margin-bottom: 31px;
			}
			.solutions-img{
				position: absolute;
				top: -15px;
				left: 0;
			}
		}
		.list-title{
			color: #00AAC9;
			font-size: 24px;
			font-family: 'FuturaPTMedium';
			display: block;
		}
		.list-text{
			color: #01075C;
			font-size: 14px;
			font-family: 'FuturaPTLight';
			line-height: 1.3;
			display: block;
		}
	}
}

.our-product{
	text-align: center;
	background: url('../img/wave3.png');
	background-repeat: no-repeat;
	background-position: 50% 60%;
	background-size: cover;
	padding: 0 0 118px;
	margin-top: -105px;
	.title{
		font-size: 40px;
		color: #162770;
		font-family: 'FuturaPTHeavy';
		text-transform: uppercase;
		padding: 158px 0 0;
		margin-bottom: 27px;
	}
	.text{
		color: #01075C;
		font-size: 18px;
		font-family: 'FuturaPTMedium';
		max-width: 600px;
		margin: auto;
		line-height: 1.35;
	}
}

.tick-section{
	background: url('../img/wave4.png');
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: contain;
	padding-bottom: 345px;
}

.product-row{
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	.tick-contein{
		text-align: left;
	}
	.box-left{
		margin-right: auto;
		width: 50%;
		margin-left: 48px;
	}
	.box-right{
		margin-left: auto;
		width: 50%;
	}
	.img-box{
		position: relative;
		display: inline-block;
		.tick-svg{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
	}
	.text{
		color: $text;
		font-size: 20px;
		font-family: 'FuturaPTMedium';
		line-height: 1.3;
		margin: 4px 0 0;
	}
}
.col-4{
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-8{
	flex: 0 0 66.66667%;
	max-width: 66.66667%;
	padding-right: 15px;
	padding-left: 15px;
}
.col-6{
	flex: 0 0 50%;
	max-width: 50%;
	padding-right: 15px;
	padding-left: 15px;
}

.illustration-box{
	text-align: center;
	padding-top: 55px;
}

.blokchein-section{
	text-align: center;
	margin-top: -229px;
	.title{
		line-height: 1.3;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 23px;
	}
	.text{
		color: #fff;
		font-size: 18px;
		font-family: 'FuturaPTMedium';
		max-width: 600px;
		margin: auto;
		line-height: 1.3;
	}
	.blokchein-row{
		display: flex;
		color: #fff;
		text-align: left;
		padding-top: 55px;
	}
	.blokchein-col{
		padding-top: 27px;
	}
	.blokchein-col-2{
		max-width: 380px;
		padding-left: 27px;
		.text-box{
			&-1{
				padding-top: 80px;
			}
			&-2{
				padding-top: 101px;
			}
			&-3{
				padding-top: 108px;
			}
		}
		.title{
			font-size: 18px;
			font-family: 'FuturaPTMedium';
			background: transparent;
			color: #fff;
			-webkit-text-fill-color: #fff;
			text-transform: none;
			margin-bottom: 12px;
		}
		.text{
			font-size: 14px;
			font-family: 'FuturaPTMedium';
		}
	}
	.blokchein-col-3{
		padding-left: 110px;
		.contein{
			margin-bottom: 39px;
		}
		.img-box{
			position: relative;
			max-width: 120px;
			.blokchein-svg{
				position: absolute;
				top: 9px;
				left: 0;
				bottom: 0;
				right: 3px;
				margin: auto;
			}
		}
		.text{
			font-size: 20px;
			font-family: 'FuturaPTHeavy';
			margin-top: 5px;
		}
	}

	.blokchein-btn{
		background: url('../img/button-team.png');
		background-repeat: no-repeat;
		background-position: 50% 100%;
		background-size: contain;
		border-radius: 25px;
		color: #fff;
		display: inline-block;
		font-size: 18px;
		font-family: 'FuturaPTHeavy';
		padding: 11px 25px;
		margin: 70px 20px 0 0;
		&:hover{
			text-decoration: none;
			background-color: rgba(0, 170, 201, 0.35);
		}
	}
}


.republia-section{
	text-align: center;
	background: url('../img/wave5.png');
	background-repeat: no-repeat;
	background-position: 50% -175px;
	background-size: contain;
	padding: 137px 0 0;
	margin-top: -30px;
	.title{
		margin-top: 51px;
	}
	.column{
		text-align: left;
		padding-top: 75px; 
		&-1{
			padding-left: 67px;
		}
		&-2{
			padding-left: 103px;
		}
		.title{
			color: #fff;
			font-size: 30px;
			font-family: 'FuturaPTMedium';
			background: transparent;
			-webkit-background-clip: text;
			-webkit-text-fill-color: #fff;
			margin-top: 0;
			letter-spacing: 0.6px;
		}
		.img-box{
			display: flex;
			align-items: flex-end;
			align-items: flex-end;
			margin-top: 50px;
			margin-left: 14px;
			padding-top: 35px;
			justify-content: space-between;
			max-width: 415px;
			.item{
				position: relative;
			}
			.time{
				color: #2698BC;
				font-size: 18px;
				font-family: 'FuturaPTMedium';
				text-transform: uppercase;
				position: absolute;
				top: -37px;
				left: -24px;
				width: 80px;
				margin: auto;
				text-align: center;
				&.red{
					color: #F5574B;
				}
			}
			.name{
				color: #fff;
				font-size: 18px;
				font-family: 'FuturaPTMedium';
				text-transform: uppercase;
				position: absolute;
				bottom: -60px;
				left: -34px;
				width: 100px;
				text-align: center;
			}
		}
	}
}


.eco-section{
	padding: 150px 0 0;
	background: url('../img/wave6.png');
	background-repeat: no-repeat;
	background-position: 50% 0;
	// background-size: cover;
	padding: 292px 0 0;
	margin-top: 52px;
	.title{
		text-align: center;
		margin: 48px 0 31px;
	}
	.text{
		color: #fff;
		font-size: 18px;
		font-family: 'FuturaPTMedium';
		max-width: 600px;
		margin: auto;
		line-height: 1.3;
		text-align: center;
	}
	.column{
		padding: 172px 0 0;
		.item{
			display: flex;
			padding-left: 92px;
			margin-bottom: 70px;
			.img-box{
				margin: 0 40px 0 0;
			}
			.text-box{
				max-width: 220px;
			}
		}
		.title{
			color: #fff;
			font-size: 24px;
			font-family: 'FuturaPTMedium';
			margin: 0;
			text-transform: uppercase;
			text-align: left;
			margin-bottom: 14px;
		}
		.text{
			color: #000A5F;
			font-size: 14px;
			font-family: 'FuturaPTMedium';
			text-align: left;
		}
	}
}







@media (min-width: 1500px){
	.advanced-bg{
		background-position: 50% -150px;
		max-width: 1530px;
		margin: auto;
	}
	.solutions-bg, .our-product, .tick-section, .republia-section{
		max-width: 1530px;
		margin: auto;
	}
}